<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>View Chart</title>
</head>
<body>
     <h2 th:value="${myURL}" th:text="${myURL}" id="myURL"></h2>
      <div class="card text-center m-5" id="myChart">
        <div class="card-header">
            <h1>Corona Virus Death Report</h1>
        </div>
        <div class="card-body">
            <canvas id="chart-area" width="800" height="300"></canvas>
        </div>
    </div>
   <script th:inline="javascript">
   
  var data=[
	    {country: "Afghanistan",Deaths: 7896},
	    {country: "Albania",Deaths: 3598},
	    {country: "Algeria",Deaths: 6881},
	    {country: "Andorra",Deaths: 165},
	    {country: "Angola",Deaths: 1933},
	    {country: "Antarctica",Deaths: 0},
	    {country: "Antigua and Barbuda",Deaths: 146},
	    {country: "Argentina",Deaths: 130472},
	    {country: "Armenia",Deaths: 8727},
	    {country: "Australia",Deaths: 228},
	    {country: "Australia",Deaths: 6529},
	    {country: "Australia",Deaths: 91},
	    {country: "Australia",Deaths: 2783},
	    {country: "Australia",Deaths: 1365},
	    {country: "Australia",Deaths: 256},
	    {country: "Australia",Deaths: 7370},
	    {country: "Australia",Deaths: 952},
	    {country: "Austria",Deaths: 21970},
	    {country: "Azerbaijan",Deaths: 10138},
	    {country: "Bahamas",Deaths: 833},
	    {country: "Bahrain",Deaths: 1553},
	    {country: "Bangladesh",Deaths: 29445},
	    {country: "Barbados",Deaths: 579},
	    {country: "Belarus",Deaths: 7118},
	    {country: "Belgium",Deaths: 33814},
	    {country: "Belize",Deaths: 688},
	    {country: "Benin",Deaths: 163},
	    {country: "Bhutan",Deaths: 21},
	    {country: "Bolivia",Deaths: 22365},
	    {country: "Bosnia and Herzegovina",Deaths: 16280},
	    {country: "Botswana",Deaths: 2801},
	    {country: "Brazil",Deaths: 699276},
	    {country: "Brunei",Deaths: 225},
	    {country: "Bulgaria",Deaths: 38228},
	    {country: "Burkina Faso",Deaths: 396},
	    {country: "Burma",Deaths: 19490},
	    {country: "Burundi",Deaths: 38},
	    {country: "Cabo Verde",Deaths: 413},
	    {country: "Cambodia",Deaths: 3056,},
	    {country: "Cameroon",Deaths: 1965},
	    {country: "Canada",Deaths: 5622},
	    {country: "Canada",Deaths: 5249},
	    {country: "Canada",Deaths: 1},
	    {country: "Canada",Deaths: 0},
	    {country: "Canada",Deaths: 2464},
	    {country: "Canada",Deaths: 834},
	    {country: "Canada",Deaths: 318},
	    {country: "Canada",Deaths: 22},
	    {country: "Canada",Deaths: 794},
	    {country: "Canada",Deaths: 7},
	    {country: "Canada",Deaths: 16234},
	    {country: "Canada",Deaths: 93},
	    {country: "Canada",Deaths: 18160},
	    {country: "Canada",Deaths: 0},
	    {country: "Canada",Deaths: 1890},
	    {country: "Canada",Deaths: 32},
	    {country: "Central African Republic",Deaths: 113},
	    {country: "Chad",Deaths: 194},
	    {country: "Chile",Deaths: 64273},
	    {country: "China",Deaths: 7},
	    {country: "China",Deaths: 20},
	    {country: "China",Deaths: 11},
	    {country: "China",Deaths: 2},
	    {country: "China",Deaths: 2},
	    {country: "China",Deaths: 10},
	    {country: "China",Deaths: 2},
	    {country: "China",Deaths: 2},
	    {country: "China",Deaths: 6},
	    {country: "China",Deaths: 7},
	    {country: "China",Deaths: 18},
	    {country: "China",Deaths: 23},
	    {country: "China",Deaths: 13467},
	    {country: "China",Deaths: 4515},
	    {country: "China",Deaths: 4},
	    {country: "China",Deaths: 1},
	    {country: "China",Deaths: 0},
	    {country: "China",Deaths: 2},
	    {country: "China",Deaths: 5},
	    {country: "China",Deaths: 2},
	    {country: "China",Deaths: 121},
	    {country: "China",Deaths: 0},
	    {country: "China",Deaths: 0},
	    {country: "China",Deaths: 5},
	    {country: "China",Deaths: 10},
	    {country: "China",Deaths: 595},
	    {country: "China",Deaths: 1},
	    {country: "China",Deaths: 12},
	    {country: "China",Deaths: 3},
	    {country: "China",Deaths: 0},
	    {country: "China",Deaths: 82195},
	    {country: "China",Deaths: 3},
	    {country: "China",Deaths: 4},
	    {country: "China",Deaths: 1},
	    {country: "Colombia",Deaths: 142339},
	    {country: "Comoros",Deaths: 161},
	    {country: "Congo (Brazzaville)",Deaths: 388},
	    {country: "Congo (Kinshasa)",Deaths: 1464},
	    {country: "Costa Rica",Deaths: 9245},
	    {country: "Cote d'Ivoire",Deaths: 834},
	    {country: "Croatia",Deaths: 17987},
	    {country: "Cuba",Deaths: 8530},
	    {country: "Cyprus",Deaths: 1330},
	    {country: "Czechia",Deaths: 42491},
	    {country: "Denmark",Deaths: 28},
	    {country: "Denmark",Deaths: 21},
	    {country: "Denmark",Deaths: 8296},
	    {country: "Diamond Princess",Deaths: 13},
	    {country: "Djibouti",Deaths: 189},
	    {country: "Dominica",Deaths: 74},
	    {country: "Dominican Republic",Deaths: 4384},
	    {country: "Ecuador",Deaths: 36014},
	    {country: "Egypt",Deaths: 24812},
	    {country: "El Salvador",Deaths: 4230},
	    {country: "Equatorial Guinea",Deaths: 183},
	    {country: "Eritrea",Deaths: 103},
	    {country: "Estonia",Deaths: 2946},
	    {country: "Eswatini",Deaths: 1425},
	    {country: "Ethiopia",Deaths: 7572},
	    {country: "Fiji",Deaths: 883},
	    {country: "Finland",Deaths: 8967},
	    {country: "France",Deaths: 413},
	    {country: "France",Deaths: 649},
	    {country: "France",Deaths: 1010},
	    {country: "France",Deaths: 1092},
	    {country: "France",Deaths: 187},
	    {country: "France",Deaths: 314},
	    {country: "France",Deaths: 921},
	    {country: "France",Deaths: 6},
	    {country: "France",Deaths: 2},
	    {country: "France",Deaths: 63},
	    {country: "France",Deaths: 7},
	    {country: "France",Deaths: 161512},
	    {country: "Gabon",Deaths: 306},
	    {country: "Gambia",Deaths: 372},
	    {country: "Georgia",Deaths: 16971},
	    {country: "Germany",Deaths: 168935},
	    {country: "Ghana",Deaths: 1462},
	    {country: "Greece",Deaths: 34779},
	    {country: "Grenada",Deaths: 238},
	    {country: "Guatemala",Deaths: 20182},
	    {country: "Guinea",Deaths: 467},
	    {country: "Guinea-Bissau",Deaths: 176},
	    {country: "Guyana",Deaths: 1298},
	    {country: "Haiti",Deaths: 860},
	    {country: "Holy See",Deaths: 0},
	    {country: "Honduras",Deaths: 11111},
	    {country: "Hungary",Deaths: 48762},
	    {country: "Iceland",Deaths: 263},
	    {country: "India",Deaths: 530779},
	    {country: "Indonesia",Deaths: 160941},
	    {country: "Iran",Deaths: 144933},
	    {country: "Iraq",Deaths: 25375},
	    {country: "Ireland",Deaths: 8708},
	    {country: "Israel",Deaths: 12329},
	    {country: "Italy",Deaths: 188322},
	    {country: "Jamaica",Deaths: 3514},
	    {country: "Japan",Deaths: 72997},
	    {country: "Jordan",Deaths: 14122},
	    {country: "Kazakhstan",Deaths: 19071},
	    {country: "Kenya",Deaths: 5688},
	    {country: "Kiribati",Deaths: 18},
	    {country: "Korea, North",Deaths: 6},
	    {country: "Korea, South",Deaths: 34093},
	    {country: "Kosovo",Deaths: 3211},
	    {country: "Kuwait",Deaths: 2570},
	    {country: "Kyrgyzstan",Deaths: 2991},
	    {country: "Laos",Deaths: 758},
	    {country: "Latvia",Deaths: 6269},
	    {country: "Lebanon",Deaths: 10841},
	    {country: "Lesotho",Deaths: 723},
	    {country: "Liberia",Deaths: 295},
	    {country: "Libya",Deaths: 6437},
	    {country: "Liechtenstein",Deaths: 89},
	    {country: "Lithuania",Deaths: 9596},
	    {country: "Luxembourg",Deaths: 1220},
	    {country: "MS Zaandam",Deaths: 2},
	    {country: "Madagascar",Deaths: 1423},
	    {country: "Malawi",Deaths: 2686},
	    {country: "Malaysia",Deaths: 36967},
	    {country: "Maldives",Deaths: 311},
	    {country: "Mali",Deaths: 743},
	    {country: "Malta",Deaths: 828},
	    {country: "Marshall Islands",Deaths: 17},
	    {country: "Mauritania",Deaths: 997},
	    {country: "Mauritius",Deaths: 1044},
	    {country: "Mexico",Deaths: 333188},
	    {country: "Micronesia",Deaths: 61},
	    {country: "Moldova",Deaths: 12003},
	    {country: "Monaco",Deaths: 67},
	    {country: "Mongolia",Deaths: 2136},
	    {country: "Montenegro",Deaths: 2808},
	    {country: "Morocco",Deaths: 16296},
	    {country: "Mozambique",Deaths: 2242},
	    {country: "Namibia",Deaths: 4090},
	    {country: "Nauru",Deaths: 1},
	    {country: "Nepal",Deaths: 12020},
	    {country: "Netherlands",Deaths: 282},
	    {country: "Netherlands",Deaths: 41},
	    {country: "Netherlands",Deaths: 301},
	    {country: "Netherlands",Deaths: 91},
	    {country: "Netherlands",Deaths: 22990},
	    {country: "New Zealand",Deaths: 2},
	    {country: "New Zealand",Deaths: 0},
	    {country: "New Zealand",Deaths: 2548},
	    {country: "Nicaragua",Deaths: 245},
	    {country: "Niger",Deaths: 315},
	    {country: "Nigeria",Deaths: 3155},
	    {country: "North Macedonia",Deaths: 9662},
	    {country: "Norway",Deaths: 5213},
	    {country: "Oman",Deaths: 4628},
	    {country: "Pakistan",Deaths: 30644},
	    {country: "Palau",Deaths: 9},
	    {country: "Panama",Deaths: 8609},
	    {country: "Papua New Guinea",Deaths: 670},
	    {country: "Paraguay",Deaths: 19878},
	    {country: "Peru",Deaths: 219539},
	    {country: "Philippines",Deaths: 66188},
	    {country: "Poland",Deaths: 119010},
	    {country: "Portugal",Deaths: 26266},
	    {country: "Qatar",Deaths: 688},
	    {country: "Romania",Deaths: 67736},
	    {country: "Russia",Deaths: 388478},
	    {country: "Rwanda",Deaths: 1468},
	    {country: "Saint Kitts and Nevis",Deaths: 47},
	    {country: "Saint Lucia",Deaths: 409},
	    {country: "Saint Vincent and the Grenadines",Deaths: 123},
	    {country: "Samoa",Deaths: 29},
	    {country: "San Marino",Deaths: 122},
	    {country: "Sao Tome and Principe",Deaths: 77},
	    {country: "Saudi Arabia",Deaths: 9618},
	    {country: "Senegal",Deaths: 1971},
	    {country: "Serbia",Deaths: 17881},
	    {country: "Seychelles",Deaths: 172},
	    {country: "Sierra Leone",Deaths: 126},
	    {country: "Singapore",Deaths: 1722},
	    {country: "Slovakia",Deaths: 21035},
	    {country: "Slovenia",Deaths: 7078},
	    {country: "Solomon Islands",Deaths: 153},
	    {country: "Somalia",Deaths: 1361},
	    {country: "South Africa",Deaths: 102595},
	    {country: "South Sudan",Deaths: 138},
	    {country: "Spain",Deaths: 119479},
	    {country: "Sri Lanka",Deaths: 16830},
	    {country: "Sudan",Deaths: 5017},
	    {country: "Summer Olympics 2020",Deaths: 0},
	    {country: "Suriname",Deaths: 1404},
	    {country: "Sweden",Deaths: 23777},
	    {country: "Switzerland",Deaths: 14210},
	    {country: "Syria",Deaths: 3164},
	    {country: "Taiwan*",Deaths: 17672},
	    {country: "Tajikistan",Deaths: 125},
	    {country: "Tanzania",Deaths: 846},
	    {country: "Thailand",Deaths: 33918},
	    {country: "Timor-Leste",Deaths: 138},
	    {country: "Togo",Deaths: 290},
	    {country: "Tonga",Deaths: 13},
	    {country: "Trinidad and Tobago",Deaths: 4355},
	    {country: "Tunisia",Deaths: 29341},
	    {country: "Turkey",Deaths: 101492},
	    {country: "Tuvalu",Deaths: 0},
	    {country: "US",Deaths: 1123836},
	    {country: "Uganda",Deaths: 3630},
	    {country: "Ukraine",Deaths: 119283},
	    {country: "United Arab Emirates",Deaths: 2349},
	    {country: "United Kingdom",Deaths: 12},
	    {country: "United Kingdom",Deaths: 160},
	    {country: "United Kingdom",Deaths: 64},
	    {country: "United Kingdom",Deaths: 37},
	    {country: "United Kingdom",Deaths: 0},
	    {country: "United Kingdom",Deaths: 0},
	    {country: "United Kingdom",Deaths: 111},
	    {country: "United Kingdom",Deaths: 66},
	    {country: "United Kingdom",Deaths: 116},
	    {country: "United Kingdom",Deaths: 161},
	    {country: "United Kingdom",Deaths: 8},
	    {country: "United Kingdom",Deaths: 0},
	    {country: "United Kingdom",Deaths: 0},
	    {country: "United Kingdom",Deaths: 38},
	    {country: "United Kingdom",Deaths: 219948},
	    {country: "Uruguay",Deaths: 7617},
	    {country: "Uzbekistan",Deaths: 1637},
	    {country: "Vanuatu",Deaths: 14},
	    {country: "Venezuela",Deaths: 5854},
	    {country: "Vietnam",Deaths: 43186},
	    {country: "West Bank and Gaza",Deaths: 5708},
	    {country: "Winter Olympics 2022",Deaths: 0},
	    {country: "Yemen",Deaths: 2159},
	    {country: "Zambia",Deaths: 4057},
	    {country: "Zimbabwe",Deaths: 5671}
	];

           
           var countries = data.map(function(item) {
               return item.country;
           });
           var deathCounts = data.map(function(item) {
               return item.Deaths;
           });

    var ctx = document.getElementById('chart-area').getContext('2d');
    var chart = new Chart(ctx, {
    	 type: 'bar',
         data: {
             labels: countries,
             datasets: [{
                 label: 'Death Count',
                 data: deathCounts,
                 backgroundColor: ['#6DA7FF','#FF7070', '#80C6FF', '#9BEF7A', '#FFC56A', '#D993D9', '#FF9F7F', '#A8F687', '#FFD088', '#C979C9'],
                 borderWidth: 0.5
             }]
         },
         options: {
             scales: {
            	  x: {
            		  beginAtZero: true,
                     }
                 },
                 y: {
                     beginAtZero: true,

                 }
            }
    });
      
</script>
</body>
</html>
  